<h3>
  Add Employee
</h3>
<form [formGroup]="employeeForm" (ngSubmit)="onSubmit(employeeForm.value)">
  <div class="form-group" >
    <label for="employeeFormControlInput">Name</label>
    <input type="text" class="form-control" id="employeeFormControlInput" formControlName="name"/>
    <div class="list-group mt-4">
    <ng-container *ngFor="let category of categories">
      <li class="list-group-item"><label for="employeeRatingFormControlInput">{{ category.description }}</label>
        <app-category-rating [parentSubject]="parentSubject" [category]="category" (ratingChanged)="onRatingChanged($event)" id="employeeRatingFormControlInput"></app-category-rating>
      </li>
      <div>



      </div>

    </ng-container>
  </div>

  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
